<!DOCTYPE html>
<html>
<%- include("../basic1/head.ejs") -%>

    <body>
        <div id="wrapper">
            <%-  include("../basic1/nav.ejs") -%>
                <!-- /. NAV SIDE  -->
                <div id="page-wrapper">
                    <div id="page-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="page-head-line"> Upper.uz </h1>
                            </div>
                        </div>
                        <!-- /. ROW  -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-info">
                                    1.0.0 hozirda . upper.uz mashxur bo'lshi uchun hisangizni qo'shganingiz uchun raxmat :))
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /. PAGE INNER  -->
                </div>
                <!-- /. PAGE WRAPPER  -->
        </div>

        <%- include("../basic1/footer.ejs") -%>
    </body>

</html>