<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upper.uz - 404</title>
    <link rel="stylesheet" href="/stylesheets/dcss.css">
    <link rel="stylesheet" href="/stylesheets/mcss.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="shortcut icon" href="/image/favicon.png">
    <style>
        #a404 {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <div id="a404">
        <h1 style="font-size:80px;">404</h1>
        <strong style="font-size:20px; margin: 10px;">Siz adashdingizmi? Hechqisi yoq biz sizga yordam beramiz! <a href="/">Ushbu yozuv ustiga bosing...</a></strong>
    </div>
</body>

</html>