<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://upper.uz">upper.uz</a>
    </div>
</nav>
<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <div class="user-img-div">
                    <div class="inner-text">
                        admin qismi
                        <br />
                    </div>
                </div>
            </li>
            <li>
                <a href="/admin/lang">Lang</a>
                <a href="/admin/lang/add">Lang add</a>
                <a href="/admin/arcticle">Arcticle</a>
                <a href="/admin/nav_bar">Nav bar</a>
            </li>
        </ul>
    </div>

</nav>