<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>upper.uz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/dcss.css">
    <link rel="stylesheet" href="/stylesheets/mcss.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="shortcut icon" href="/image/favicon.png">
</head>

<body onload="looadDisplayBlock()">
    <%- include("../basic/nav-top") %>
        <header>
            <%- include("../basic/nav-left") %>
                <main>
                    <%- message %>
                </main>

        </header>
</body>
<script src="/js/index.js"></script>

</html>